<!DOCTYPE html>
<html>
<head>
  <title>Вопросы вопросики</title>
</head>
<body onload="getQuestions()">
<div id="counterContainer"></div>
  <label>
    Profile:
    <input type="text" id="profile">
  </label>
  <div id="imageContainer"></div>
  <div id="titleContainer"></div>
  <div id="answerContainer"></div>
  <div id="answerButtonContainer"></div>
  <button onclick="nextQuestion()">след вопрос</button>

  <div id="rightAnswersContainer"></div>



  <script src="/static/app.js">

  </script>
</body>
</html>
